flask
flask-marshmallow
flask-migrate==2.7.0
flask-script==2.0.6
flask-pymongo
flask_sqlalchemy
jsonschema
jsonschema-specifications
markupsafe
marshmallow
marshmallow-sqlalchemy
mysqlclient
python-dotenv
werkzeug
flask-restx
PyJWT
gunicorn